<div class="row"> 
    <div class="col">
        <h1>Baseball Game</h1>
        Game Key: <div id="key"></div   >
        <br>
        ( Guess = <span id="moves"></span>)

        <br>
        
<div class="btn-group-vertical ml-4 mt-4" role="group" aria-label="Basic example">
   
    <div class="btn-group">
        <button id="button-1" type="button" class="btn btn-outline-secondary py-3" >1</button>
        <button id="button-2" type="button" class="btn btn-outline-secondary py-3">2</button>
        <button id="button-3" type="button" class="btn btn-outline-secondary py-3" >3</button>
    </div>
    <div class="btn-group">
        <button id="button-4" type="button" class="btn btn-outline-secondary py-3" >4</button>
        <button id="button-5" type="button" class="btn btn-outline-secondary py-3" >5</button>
        <button id="button-6" type="button" class="btn btn-outline-secondary py-3" >6</button>
    </div>
    <div class="btn-group">
        <button id="button-7" type="button" class="btn btn-outline-secondary py-3" >7</button>
        <button id="button-8" type="button" class="btn btn-outline-secondary py-3" >8</button>
        <button id="button-9" type="button" class="btn btn-outline-secondary py-3" >9</button>
    </div>
    <div class="btn-group">
        <button id="button-0" type="button" class="btn btn-outline-secondary py-3" >0</button>
            </div>
</div>
 
        <div class="row"> 
            <div class="col">
                <button id="button-new-game" class="btn btn-outline-primary">New Game</button>
            </div>
            
        </div>
    </div> <!--left pane:Game Board -->
    <div class="col">
        <h1>Status</h1>

 <div class="row">
    <div class="col">
        <button id="button-history" class="btn btn-outline-primary">GamePlay History</button>
    </div>
    <br>
    <div id="history" class="bg-primary">Ready To Play</div>
 </div>
 <br>
 <div class="container bg-secondary text-white">
    <div id="status-message"></div>
 </div>
</div> <!--right pane: Status-->
</div>