<div class="row"> 
    <div class="col">
        <h1>Where is the Firebase hiding ?</h1>
        <table>
            <td style="background-color: lightblue  ;  padding-right: 150px">
                <div id="bal">Balance: </div>
            </td>
            <td style="background-color: lightblue  ; padding-right: 150px">
                <div id="cbet">Current Bets: </div>
            </td>           
             <td style="background-color:green  ;  padding-right: 150px">
                <div id="cdebt">(Debts: 0 )</div>
            </td>
        </table>
        <br>
        <div id="key"> SECRET : Firebase Card Location : </div>
        <br>
        
        <table>
            <tr >
                <td style="padding-right:100px">
                    
                        <img id="image-0" src="/images/back.png" width="120" height="200">
                        
                        

                </td>
                
                <td style="padding-right:100px">
                    
                      
                        <img id="image-1" src="/images/back.png" width="120" height="200">
                    
                    
                </td> 
                <td style="padding-right:100px">
                    
                      
                        <img id="image-2" src="/images/back.png" width="120" height="200">
                    
                 
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mb-3" >
                        <button id="1-" class="input-group-text">-</button>
                        <input id="card1" type="text"  class="form-control" value="0">
                        <button id="1+" class="input-group-text">+</button>
                      </div>     
                </td>

                <td>
                    <div class="input-group mb-3">
                        <button id="2-" class="input-group-text">-</button>
                        <input id="card2" type="text" class="form-control" value="0">
                        <button id="2+" class="input-group-text">+</button>
                      </div>     
                </td> <td>
                    <div class="input-group mb-3">
                        <button id="3-" class="input-group-text">-</button>
                        <input id="card3" type="text" class="form-control" value="0">
                        <button id="3+" class="input-group-text">+</button>
                      </div>     
                </td>
            </tr>


        </table>

        <div class="row">
            <div class="col">
                <button id="button-play" class="btn btn-outline-primary">Play</button>
            </div>
            <div class="col">
                <button id="button-new-game" class="btn btn-outline-danger">New Game</button>
            </div>
            <div class="col">
                <button id="button-loan" class="btn btn-outline-success">Loan 8 Coins</button>
            </div>
        </div>
    </div> <!--left pane:Game Board -->
    <div class="col">
        <h1>Status</h1>

 <div class="row">
    <div class="col">
        <button id="button-history" class="btn btn-outline-primary">GamePlay History</button>
        <td>  Most recent 10 transactions</td>
        <br>
        <br>
        <p id="history" style="background-color: grey">Ready !! Bet coins and click [Play]!</p>
    </div>
  
 </div>
 <br>
 
 <div class="container bg-secondary text-white">
    <div id="status-message"></div>
 </div>
</div> <!--right pane: Status-->
</div>