<div class="row">
    <div class="col">
        <h1>N5 Multimedia Message</h1>

        <br>

        <div class="row" id="create-area">
            <div class="col">
                <button id="button-new-create" class="btn btn-outline-primary">Create</button>
            </div>


        </div>
        <br>
        <div id="comments-table">
            <table style="width:1000px" id="tab-com" class="table table-light table-striped">
                <tr>
                    <th>Message</th>
                    
                </tr>
            </table>
        </div>
    </div>

</div>