<div class="row"> 
    <div class="col">
        <h1>Community Page</h1>
        
        <br>
        
        <div class="row" id="create-area">
            <div class="col">
                <button id="button-new-create" class="btn btn-outline-primary">Create</button>
            </div>

        
        </div>
        <br>
        <table style ="width:1000px" id="" class="table table-success table-striped" >
            <tr><th>Message</th><th>Action</th></tr>
        </table>
    </div> 

</div>